<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @museum, partial: "card", as: :museum %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "museums/museum_artpieces" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "museums/museum_exhibited_artists" %>
  </div>
</div>
